<div class="flash-message">
  <% flash.each do |key,value| %>
   <%= content_tag(:p,value, class: key) %>
  <% end %>
</div>SSSSSSSSS

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @show.body %>
</p>

<%= link_to "edit", edit_book_path %>
|
<%= link_to "back",books_path %>